body {
     
    background-color: black;
    font-family: cursive;}

h1{ padding-top: 20px;
    text-align: center;
}
.container {
   border: 1px black;
    margin: 5% 20%;
    size: 1500px;
    background-color: whitesmoke;
    border: 1px white;
   width: 60%;
   height: 800px;
   
}


.container-fluid {
    
    box-shadow: 5px 5px 15px gray;
    height: 600px;
    margin-top: 20px;
}
#boton {
    margin-top: 0;
}